<div class= "container">
	<div class="gradient">
            <div class="row">
            	<div class="span6 offset3">
                    <div class="content">
                    	<br><br>
                    	<h1>Fidbacks</h1>
                    	<h2 class="center" >Let's build trust together</h2>
                    	<p class="center">Sign-up for the beta release !</p>
	                    	<div class="center">
								<%= form_for(@user) do |f| %>
								<%= render 'shared/error_messages'%>
								<%= f.text_field :contact , :placeholder =>"Your email address", :class=>"input-medium search-query"%>
								<%= f.submit "Send", class: "btn btn-info"%>
								<%end%>
							</div>
					</div>
				</div>
			</div>
	</div>		
</div>
								


