<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "EN", root_url(subdomain: "en") %></li>
				<li><%= link_to "FR", root_url(subdomain: "fr") %></li>
			</ul>
		</nav>
	</div>
</header>
	