<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to image_tag("fr.png", alt: "FR", width:"30", height:"30"), fr_path %></li>
					<li><%= link_to image_tag("gb.png", alt: "EN", width:"30", height:"30"), en_path %></li>					
				</ul>
			</nav>
		</div>
	</div>
</header>